{
    "extends": ["@ackee/eslint-config", "eslint-config-prettier"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"]
            }
        }
    }
}
