{
    "extends": ["@ackee/eslint-config"],
    "settings": {
        "import/resolver": {
            "node": {
                "paths": ["src"],
                "extensions": [".ts"]
            }
        }
    },
    "rules": {
        "no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars": "warn"
    }
}
